RewriteEngine On
RewriteBase /

# Handle the /api subfolder separately
RewriteCond %{REQUEST_URI} ^/api($|/)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api(/.*)?$ ./public/index.php [L]

# Route all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /public/index.php [QSA,L]
